.introduce{
    padding: 40px 0px 0 ;
}
.introduce-content{
   padding: 0 15px 30px;

}
.introduce p{
    font-size: 16px;
    margin-bottom: 20px;
    color: rgb(119, 119, 119);
    line-height: 25px;
}
.introduce-content p b{
    font-weight: bold;
    color: rgb(119, 119, 119);
    line-height: 25px;
}
.introduce-content p a img{
    margin: auto;
    display: block;
}